<div class="input-list">
    <div class="input-list__title">
        <h3>
                {{label}}  
        </h3>
    </div>
    <div class="input-list__group">
        <div class="input-list__element">
            <label>{{value}}</label>
        </div>
    </div>
</div>