<div class="container-fluid">
    <h1>Label Component</h1>
    <table style="width:80%;height:80%">
        <caption>A summary of the UK's most famous punk bands</caption>
        <thead>
            <tr>
                <td>S.NO</td>
                <td>Component</td>
                <td>Description</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>
                    {{ember-uniq-label label="Label Name" value="label Value"}}
                </td>
                <td>To render Label</td>
            </tr>
        </tbody>
    </table>
</div>